* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-size: 3vh;
}

html,
body {
	height: 100%;
}

body {
	background: linear-gradient(to bottom right, #a700a7, #fd20cd);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-attachment: fixed;
	color: #555;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #000;
}

a:hover {
	color: #fff;
}

.calculator {
	background: #30292c;
	padding: 1em 0.5em;
	border-radius: 1em;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: inset -0.25em -0.25em 0.5em #000,
		inset 0.25em 0.25em 0.5em #583947,
		0.25em 0.25em 0.5em #7e007e;
}

.btn {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	border-radius: 1.5em;
	font-size: 1em;
	margin: 0.1em;
	padding: 0.09em;
	border: none;
	color: #fff;
	height: 2.5em;
}

.btn:hover {
	filter: brightness(150%)
}

.btn:active {
	filter: brightness(60%);
}

.top {
	background: #3e004b;
	box-shadow: 0.1em 0.1em 0.15em #000,
		inset 0.15em 0.15em 0.25em #b800ae,
		inset 0.35em 0.5em 0.6em #000;
}

.middle {
	background: #d100d1;
	box-shadow: 0.1em 0.1em 0.15em #000,
		inset 0.15em 0.15em 0.25em #ff21e1,
		inset 0.35em 0.5em 0.6em #7f0099;
}

.numbers {
	background: #ff69da;
	box-shadow: 0.1em 0.1em 0.15em #000,
		inset 0.15em 0.15em 0.25em #ffaee7,
		inset 0.35em 0.5em 0.6em #e635ce;
}

.big {
	width: 5.5em;
}

.small {
	width: 2.5em;
}

.result {
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: 'Quicksand', Roboto Mono, monospace;
	background: #c3f3db;
	border-radius: 0.2em;
	text-shadow: 0.04em 0.04em 0.1em #89a49b;
	color: #25464a;
	text-align: center;
	border: none;
	width: 4.5em;
	height: 1.5em;
	font-size: 2.5em;
	box-shadow: inset 0.1em 0.1em 0.9em #fff,
		0 0 0.2em #c3f3db;
	margin: 0.2em;
	margin-bottom: 0.1em;
}

::-moz-selection {
	color: white;
	background: transparent;
}

::selection {
	color: white;
	background: transparent;
}