* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Dosis', monospace;
	font-size: 3vh;
}

html, body {
	height: 100%;
}

body {
	background-image: linear-gradient(to bottom left, white, #ffe4f3, #e6cddb);	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	background-attachment: fixed;
	color: #555555;
}

a {
	text-decoration: none;
}

a:link {
	color: #595758;
}

a:visited {
	color: #555;
}

a:hover {
	color: #ff92c2;
}

::-moz-selection {
  color: white;
  background: transparent;
}

::selection {
  color: white;
  background: transparent;
}

.calculator {
			background-color: #595758;
			padding: 0.85em;			
			border-radius: 2em;
			justify-content: center;
			box-shadow: inset -0.4em -0.4em 0.8em #3f383c,
            inset 0.4em 0.4em 0.8em #666465,
            0.15em 0.15em 0.5em #de97c9;
}

.btn {			
	font-family: 'Dosis', monospace;							
	border-radius: 1.5em;			
	font-size: 1em;			
	margin: 0.25em;
}		

.btn:hover {
	filter: brightness(150%)
}

.btn:active {
	filter: brightness(60%);
}

.top {
	background-color: #ff92c2;
	color: #fff;
	border: 0.05em solid #ffd8e5;
	text-shadow: 0.05em 0.05em 0.1em #e0519a;
	box-shadow: 0.15em 0.15em 0.5em #3f383c,
							inset 0.15em 0.15em 0.25em #ffd8e5,
							inset 0.35em 0.5em 0.6em #e0519a;
}		

.middle {
	background-color: #ffc8fb;
	color: #595758;
	border: 0.05em solid #ffebfb;
	text-shadow: 0.05em 0.05em 0.1em #d577d5;
	box-shadow: 0.15em 0.15em 0.5em #3f383c,
							inset 0.15em 0.15em 0.25em #ffebfb,
							inset 0.35em 0.5em 0.6em #d577d5;
}

.numbers {
	background-color: #ffeef2;
	color: #595758;
	border: 0.05em solid #fff;
	text-shadow: 0.05em 0.05em 0.1em #ffbfd8;
	box-shadow: 0.15em 0.15em 0.5em #3f383c,
							inset 0.15em 0.15em 0.25em #fff,
							inset 0.35em 0.5em 0.6em #ffbfd8;
}

.big {
	width: 6.65em;
	height: 3em;			
}

.small {
	width: 3em;
	height: 3em;
}

.result {
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: 'Dosis', Roboto Mono, monospace;
	background-color: #bbdec8;
	border-radius: 0.6em;
	text-shadow: 0.04em 0.04em 0.1em #8ea489;
	color: #25464a;
	text-align: center;
	appearance: none;
	border: none;
	width: 5.9em;
	height: 2em;
	font-size: 2.5em;				
	box-shadow: inset 0.1em 0.1em 0.5em #7a8777,
							0.06em 0.06em 0.2em #666465,
							-0.06em -0.06em 0.2em #3f383c;
	margin: 0.2em;
	margin-bottom: 0.4em;
}

	
