* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Mono", monospace;
}

label {
	display: block;
}

span {
	position: relative;
	font-size: 22px;
	bottom: -1px;
}

html, body {
	
}

body {
	background-image: url("big.png");
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #ffd2df;
	background-attachment: fixed;
	font-family: "Lora", serif;
	text-shadow: 1px 1px #ffffff;
	color: #555555;

}

a:link {
	color: #d44c6b;
}

a:visited {
	color: #e0007b;
}

a:hover {
	color:#e0007b;
}

h1 {
	font-family: Dancing Script;
	color: #ff828f;
}

footer {
	font-family: Dancing Script;
	background-color: #ffd2df;
	margin-top: 20px;
}

table {
	background-color: white;
	opacity: 0.85;
	border-radius: 10px;
	text-align: center;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #ff828f;
}

::selection {
  color: white;
  background: #ff828f;
}

body::-webkit-scrollbar-track {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 10px;
	background-color: #cfeff3;
}

body::-webkit-scrollbar {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 12px;
	background-color: #cfeff3;
}

body::-webkit-scrollbar-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-color: #ffffff;
	border-radius: 17px;
	background-color: #b2dfef;
}

#time {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}