* {
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
	font-family: 'Alegreya', serif;
	font-weight: 100;
	font-size: 2vh;
}

body {
	background-image: linear-gradient(rgb(218, 218, 231), #fff)  ;
	/*text-shadow: 0.0625em 0.0625em #fff;*/
	color: #555;
}

main {
	display: inline-block;
	text-align: justify;
	margin-top: 1em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	font-size: 5em;
}

.navimg {
	width: 3em;
	height: auto;
	filter: drop-shadow(0.1em 0.1em 0.2em #dfb5b9);
}

.photo {	
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-items: center;
	filter: drop-shadow(0.1em 0.1em 0.2em #dfb5b9);
}

.pic {
	width:20em;
	border-radius: 100%;
	border: 0.5em solid #fff;
}

.wrapper {
	width: 100%;
}

a:link {
	color: #d44c6b;
}

a:visited {
	color: #e0007b;
}

a:hover {
	color:#e0007b;
}

h1 {
	font-family: 'Euphoria Script';
	color: #f06270;
}

footer {
	background-color: #ffd2df;
	margin-top: 1em;
}

table {
	background-color: #fff;
	opacity: 0.85;
	border-radius: 0.625em;
	text-align: center;
}

::-moz-selection {
  color: #fff;
  background: #ff828f;
}

::selection {
  color: #fff;
  background: #ff828f;
}

body::-webkit-scrollbar-track {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0.625em;
	background-color: #cfeff3;
}

body::-webkit-scrollbar {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 0.75em;
	background-color: #cfeff3;
}

body::-webkit-scrollbar-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-color: #fff;
	border-radius: 1em;
	background-color: #b2dfef;
}

ul {
	list-style-type: none;
}

li {
	margin: 0.5em;
}

#time {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.custom {
	background-color: #ffd2df;
	font-size: 3em;
}
