* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffd2df;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  background-attachment: fixed;
  color: #292e1e;
}

#container {
  width: 60em;
  height: 34em;
  margin: 1em;
}

.border {
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0.14em 0.14em 1em #ff828fb3;
  padding: 10px;
}

tr, td {
  padding: 10px;
  text-align: center;
}