body {
	background-image: url("../curso bootstrap/kawaii.png");
	background-color: #ffd2df;
	background-attachment: fixed;
	font-family: "Lora", serif;
	text-shadow: 1px 1px #ffffff;
	color: #555555;

}

a:link {
	color: #d44c6b;
}

a:visited {
	color: #e0007b;
}

a:hover {
	background-image: url("file:///C:/Users/natal/OneDrive/Documents/MEGA/etc/nyaa.gif");
}

h1 {
	font-family: Dancing Script;
	color: #ff828f;
}

footer {
	font-family: Dancing Script;
	background-color: #ffd2df;
	margin-top: 20px;
}

table {
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #ff828f;
}

::selection {
  color: white;
  background: #ff828f;
}

.mynav {
	background-color: #ffd2df;
}

.navimg {
	margin-left: 10px;
}

.pets {
	background-color: #ffffff;
	opacity: 0.85;
}

.margin {
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.petimg {
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 20px;
}

.cuteb {
	font-family: Dancing Script;
	font-size: 24px;
	color: #ff828f;
}