* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Dekko', serif;
	font-weight: lighter;
	font-size: 2vh;
}

html, body {
	margin-top: 1.3em;
}

body {
	background-image: linear-gradient(to bottom right, #d8eef7, #fff3cc);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	background-attachment: fixed;
	color: #555;
}

footer {
	margin-top: 5em;
}

h1 {
	font-weight: lighter;
	font-family: 'Dekko', sans-serif;
	font-size: 2em;
}

form {
	margin: 1em;
}

.h1style {
	background-color: #ff101077;
	color: #fff;
	text-shadow: 0.1em 0.1em 0.15em #b1142175;
	text-align: center;
	align-items: center;
	border-radius: 0.7em;
	margin-top: 0.25em;
	padding: 0.2em;
	height: 2em;
	width: 15em;	
	cursor: pointer;
}

a:link {
	color: #595758;
}

a:visited {
	color: #555;
}

a:hover {
	color: #3ea4bd;
}

::-moz-selection {
  color: #555;
  background: #ffbf95;
}

::selection {
  color: #555;
  background: #ffbf95;
}

button {
	appearance: none;
	font-size: 2em;
}

.btn {
	font-family: 'Dekko';
	color: #fff;
	border-radius: 0.5em;
	border: 0.01em solid #fff3cc;
	width: 1.75em;
	height: auto;
	background-color: #ffbf95;
}

.btn:hover {
	filter: brightness(120%)
}

.btn:active {
	background-color: #ec9b64;
	box-shadow: inset 0.2em 0.2em 0.1em #c46d33e0;
}

.input {
	font-family: 'Delius Unicase';
	text-transform: uppercase;
	color: #541b5c;
	border-radius: 1em;
	text-align: center;
	width: 10em;
	height: 2.5em;
	margin-bottom: 1em;	
	border: 0.1em solid #555;

}

.white {
	background-color: #f5f3ee7c;
	box-shadow: inset 0.25em 0.25em 0.1em #e2dbcc69;

}

.yellow {
	background-color: #fff3cc;
	box-shadow: inset 0.25em 0.25em 0.1em #ffa96f69;
}

.wrapper {
	height: 100%;
	background-color: #fff;
	padding: 1em;
	border-radius: 1.5em;
}


#num_to_dec::placeholder, #dec_to_num_result::placeholder {
	font-size: 0.75em;
}

[type="radio"]:checked, [type="radio"]:not(:checked) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 1.4em;
    cursor: pointer;
    display: inline-block;
}

[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0.2em;
    width: 0.75em;
    height: 0.75em;
    border: 0.1em solid #ffbf95;
    border-radius: 100%;
    background: #ffbf95;
}

[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 0.45em;
    height: 0.45em;
    background: #e22d00;
    position: absolute;
    top: 0.4em;
    left: 0.175em;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

footer {
	padding-bottom: 1em;
}
