* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Mono", monospace;
}

html,
body {
	height: 100%;
}

body {
	background-image: url("big.png");
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-shadow: 1px 1px #fff;
	color: #555;
	font-size: 13px;
}

h1 {
	font-family: Quicksand, sans-serif;
	font-weight: 700;
	font-size: 1.7em;
	color: #ff828f;
}

.wrapper {
	background: #fff;
	border-radius: 30px;
	padding: 20px 10px;
	width: 95vmin;
}

.top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #ffe2ef;
	border-radius: 8px;
	outline: none;
	opacity: 0.7;
	width: 7em;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	appearance: none;
	background: #ff828f;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	appearance: none;
	background: #ff828f;
	cursor: pointer;
}

label {
	display: block;
	font-size: 1em;
}

.sizeCanvas {
	position: relative;
	font-size: 1.7em;
	bottom: -1px;
}

.opt-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	gap: 10px;
}

.btn {
	background: #ffd2df;
	color: #555;
	border: none;
	border-radius: 10px;
	padding: 5px;
	font-size: 1em;
	opacity: 0.7;
}

.lang {
	background: #cfeff3;
}

.btn:hover {
	opacity: 1;
}

.btn:active {
	filter: brightness(80%);
}

.color-picker {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	width: 60px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.color-picker::-webkit-color-swatch {
	border-radius: 10px;
	border: 1px solid #eee;
}

.color-picker::-moz-color-swatch {
	border-radius: 10px;
	border: 1px solid #eee;
}

.canvas-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.canvas {
	max-width: 560px;
	border: 1px solid transparent;
}

.gridCol {
	height: 1.23em;
	width: 1.23em;
	border-top-style: dotted;
	border-left-style: dotted;
	border-bottom-style: none;
	border-right-style: none;
	border-color: #aaa;
	border-width: 1px;
}

.gridRow {
	display: flex;
}

a:link {
	color: #d44c6b;
}

a:visited {
	color: #e0007b;
}

a:hover {
	background: #b2dfef;
}

footer {
	display: flex;
	justify-content: center;
}

table {
	background-color: #fff;
	opacity: 0.85;
	border-radius: 10px;
	text-align: center;
}

::-moz-selection {
	color: #fff;
	background: #ff828f;
}

::selection {
	color: #fff;
	background: #ff828f;
}

@media (max-width:760px) {
	.gridCol {
		height: 0.615em;
		width: 0.615em;
	}

	.canvas {
		max-width: 280px;
	}
}