* {
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
	font-family: 'Dekko', serif;
	font-weight: lighter;
	font-size: 1.5vm;
}

html, body {
	margin-top: 1.3em;
}

body {
	background-image: linear-gradient(to bottom right, #d9cfff, #fbccff);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	background-attachment: fixed;
	color: #555;
}

footer {
	margin-top: 5em;
}

h1 {
	font-weight: lighter;
	font-family: 'Dekko', sans-serif;
	font-size: 2em;
}

form {
	margin: 1em;
}

.h1style {
	background-color: #8c00b677;
	color: #fff;
	text-shadow: 0.1em 0.1em 0.15em #62038875;
	text-align: center;
	align-items: center;
	border-radius: 0.7em;
	margin-top: 0.25em;
	padding: 0.2em;
	height: 2em;
	width: 15em;	
	cursor: pointer;
}

a:link {
	color: #595758;
}

a:visited {
	color: #555;
}

a:hover {
	color: #3ea4bd;
}

::-moz-selection {
  color: #555;
  background: #e8bfff;
}

::selection {
  color: #555;
  background: #e8bfff;
}

button {
	appearance: none;
	font-size: 1.25em;
}

.btn {
	font-family: 'Dekko';
	color: #fff;
	border-radius: 0.5em;
	border: 0.01em solid #fbccff;
	width: auto;
	height: 1.75em;
	background-color: #e8bfff;
}

.btn:hover {
	filter: brightness(120%)
}

.btn:active {
	background-color: #ca8bee;
	box-shadow: inset 0.2em 0.2em 0.1em #8333c4e0;
}

.valor {
	font-family: 'Delius Unicase';
	text-transform: uppercase;
	color: #541b5c;
	border-radius: 1em;
	text-align: center;
	width: 3.3em;
	height: 2.5em;
	margin-bottom: 1em;	
	border: 0.1em solid #555;
	background-color: #f5f3ee7c;
	box-shadow: inset 0.25em 0.25em 0.1em #e2dbcc69;

}

.wrapper {
	height: 100%;
	background-color: #fff;
	padding: 1em;
	border-radius: 1.5em;
}

table {
	align-items: center;
	text-align: center;
}

td {
	width: 15em;

}

.titulo {
	background-color: #fbccff;
	border-radius: 1em;
}

hr {
	height: 0.01em;
	color:#e8bfff
}

.resultados {
	text-align: center;
}

#resultado1 {
	font-weight: bold;
	font-size: 1.5em;
}

#resultado2 {
	font-size: 1.2em;
}

#resultado3 {
	color:#e90808
}

footer {
	padding-bottom: 1em;
}
