* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

body {
	background-image: linear-gradient(to bottom right, #d9cfff, #fbccff);
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	background-attachment: fixed;
	color: #555;
}

td, th, p {
	font-size: 1.3em;
}

p {
	font-weight: 500;
}

h1 {
	font-weight: 700;
	font-size: 2em;
	width: 20em;
	background-color: #8c00b677;
	color: #fff;
	text-shadow: 0.1em 0.1em 0.15em #62038875;
	text-align: center;
	align-items: center;
	border-radius: 0.7em;
	margin: 10px 0 15px;
	padding-top: 8px;
	height: 2em;	
}

a:link {
	color: #595758;
}

a:visited {
	color: #555;
}

a:hover {
	color: #3ea4bd;
}

::-moz-selection {
  color: #555;
  background: #e8bfff;
}

::selection {
  color: #555;
  background: #e8bfff;
}

button {
	appearance: none;
}

.btn {
	font-weight: 700;
	color: #fff;
	border-radius: 0.75em;
	border: 0.01em solid #fbccff;
	width: auto;
	padding: 0 20px 0;
	height: 2.5em;
	font-size: 1em;
	background: #e8bfff;
}

.btn:hover {
	filter: brightness(120%)
}

.btn:active {
	background: #ca8bee;
	box-shadow: inset 0.2em 0.2em 0.1em #8333c4e0;
}

.input {
	font-weight: 700;
	font-size: 1em;
	color: #541b5c;
	border-radius: 1em;
	text-align: center;
	width: 3.3em;
	height: 2.5em;
	margin-bottom: 1em;	
	border: 0.05em solid #555;
	background: #f5f3ee7c;
	box-shadow: inset 0.25em 0.25em 0.1em #e2dbcc69;
}

.wrapper {
	height: 100%;
	background: #fff;
	padding: 1em;
	border-radius: 2em;
}

.tabela_imc {
	display: flex;
	justify-content: center;
}

table {
	text-align: center;
}

td {
	font-size: 1.2em;
	width: 11em;
	line-height: 1.6;
}

.bold {
	font-weight: 700;
	color:#ca8bee;
}

.titulo {
	background-color: #fbccff;
	font-size: 1.4em;
}

.left {
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
}

.right {
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
}

.resultados {
	text-align: center;
}

#resultado1 {
	font-weight: 700;
	font-size: 1.5em;
}

#resultado2 {
	font-size: 1.2em;
}

#resultado3 {
	color:#e90808
}

footer {
	display: flex;
	justify-content: center;
}

@media (max-width: 760px) {
	* {
		font-size: 13px;
	}

	h1 {
		width: 16em;
		height: 2em;
		font-size: 1.7em;
	}

	form {
		display: grid;
		justify-content: center;
	}

	.btn {
		width: 10em;
		margin-bottom: 10px;
	}

	.input {
		width: 3.5em;
	}

	.wrapper {
		padding: 0.2em;
		border-radius: 1.4em;
	}
}